/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Encode Sans", sans-serif;
}

.table-responsive {
  overflow-x: visible;
}

td {
  font-weight: 500;
}

th,
tr,
td {
  border: 0;
  font-size: 14px;
}

table thead tr th:first-child {
  border-radius: 8px 0 0 0;
}

table thead tr th:last-child {
  border-radius: 0 8px 0 0;
}

.add-invoice-form input:focus,
.add-invoice-form .form-select:focus,
.add-invoice-form select:focus {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.add-invoice-form input:focus,
.add-invoice-form .form-select:focus,
.add-invoice-form select:focus {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #bbb !important;
  padding: 10px !important;
  border-radius: 0 !important;
}

input,
select {
  box-shadow: none !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent !important;
}

th {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.rowsNo {
  font-size: 14px;
}

tfoot tr {
  border-top: 2px solid #bbb;
}

table {
  box-shadow: 0px 2px 6.6px 0px #00000017;
  border-radius: 8px;
}

th {
  font-weight: 400;
  color: #626262 !important;
}
