.serialNo {
    padding: 1px 7px;
    border-radius: 3px;
}


.summary-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
  }
  
  .summary-box .d-flex {
    font-size: 14px;
  }
  
  .upload-items {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .searchItemInput:focus {
    box-shadow:none !important ;
  }

  .searchItemInput {
    border-radius: 8px 0 0 8px;
  }

  #quantity {
    width: 55px;
    border-radius: 0 8px 8px 0;
    border-left: 0;
  }

  .qty-div {
    width: auto;
    margin-right: 5px;
  }

  .add-item-btn {
    background-color: white;
    border: 1px solid gray;
  }