<div class="d-inline">
	<!-- Hidden Date Input for Datepicker Functionality -->
	<input
	  class="form-control visually-hidden"
	  placeholder="yyyy-mm-dd"
	  name="dp"
	  [(ngModel)]="model"
	  (ngModelChange)="onDateSelect()"
	  ngbDatepicker
	  #d="ngbDatepicker"
	/>
  
	<!-- Datepicker Toggle Button -->
	<button class="btn bi bi-calendar3 p-0" (click)="d.toggle()" type="button"></button>
  </div>
  
  <ng-template
	#customDay
	let-date
	let-currentMonth="currentMonth"
	let-selected="selected"
	let-disabled="disabled"
	let-focused="focused"
  >
	<span
	  class="custom-day"
	  [class.weekend]="isWeekend(date)"
	  [class.focused]="focused"
	  [class.bg-primary]="selected"
	  [class.hidden]="date.month !== currentMonth"
	  [class.text-muted]="disabled"
	>
	  {{ date.day }}
	</span>
  </ng-template>
  